<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Учетные карточки преподавателей</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
</head>
<body>
<header th:insert="blocks/header :: header"></header>

<div class="container">
    <form action="/teaching/record_cards_show" method="post">
        <h1>Просмотр учетных карточек</h1><br>
        <label>Выберите ФИО преподавателя, чью учетную карточку необходимо просмотреть</label>
        <select type="text" name="teacherFIO" class="form-control" >
            <option th:each="el : ${teachers}" th:value="${el.FIO}" th:text="${el.FIO}"></option>
        </select><br>
        <button type="submit" class="btn btn-success">Искать</button>
    </form>
</div><br>
<div class="container">
    <h1>Учетная карточка</h1><br>
    <table class="table table-bordered">
        <thead>
        <th scope="col">Дисциплина</th>
        <th scope="col">Вид занятий</th>
        <th scope="col">Группа</th>
        <th scope="col">Дата</th>
        <th scope="col">Количество часов</th>
        </thead>
        <tbody th:each="el : ${first_card_data}" th:if="${el.activity == true}" >
        <tr>
            <td>
                <div th:text="${el.discipline}"></div>
            </td>
            <td>
                <div th:text="${el.lesson_type}"></div>
            </td>
            <td>
                <div th:text="${el.student_group}"></div>
            </td>
            <td>
                <div th:text="${el.date}"></div>
            </td>
            <td>
                <div th:text="${el.number_of_hours}"></div>
            </td>
        </tr>
        </tbody>
    </table><br>

    <table class="table table-bordered">
        <thead>
        <th scope="col">Вид работы</th>
        <th scope="col">Дисциплина</th>
        <th scope="col">Факультет</th>
        <th scope="col">Группа</th>
        <th scope="col">Количество человек</th>
        <th scope="col">Количество часов</th>
        </thead>
        <tbody th:each="el : ${second_card_data}" th:if="${el.activity == true}" >
        <tr>
            <td>
                <div th:text="${el.kind_of_work}"></div>
            </td>
            <td>
                <div th:text="${el.discipline}"></div>
            </td>
            <td>
                <div th:text="${el.faculty}"></div>
            </td>
            <td>
                <div th:text="${el.student_group}"></div>
            </td>
            <td>
                <div th:text="${el.number_of_students}"></div>
            </td>
            <td>
                <div th:text="${el.number_of_hours}"></div>
            </td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>