<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Преподавание</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
</head>
<body>
<header th:insert="blocks/header :: header"></header>

<div class="container mt-5" th:each="el : ${app_user}">
    <h2>Раздел с расписанием, учетной карточкой, нагрузкой и тд</h2>
    <li><a href="/teaching/schedule" class="nav-link px-2 link-dark">Расписание</a></li>
    <li><a href="/teaching/schedule/update" class="nav-link px-2 link-dark">Обновить расписание</a></li>
    <li><a href="/teaching/record_card" class="nav-link px-2 link-dark"> Ваша учетная карточка</a></li>
    <li><a href="/teaching/record_card/update" class="nav-link px-2 link-dark">Обновить вашу учетную карточку</a></li>
    <li><a href="/teaching/record_cards_show" class="nav-link px-2 link-dark">Просмотреть учетные карточки преподавателей</a></li>
    <li><a href="/teaching/staffing_table" class="nav-link px-2 link-dark">Штатное расписание</a></li>
    <li><a href="/teaching/staffing_table/update" class="nav-link px-2 link-dark">Обновление штатного расписания</a></li>
    <li><a href="/teaching/disciplines" class="nav-link px-2 link-dark">Список дисциплин</a></li>
    <li><a href="/teaching/disciplines/update" class="nav-link px-2 link-dark">Обновление списка дисциплин</a></li>
    <li><a href="/teaching/load" class="nav-link px-2 link-dark">Нагрузка</a></li>
    <li><a href="/teaching/load/update" class="nav-link px-2 link-dark">Обновление нагрузки</a></li>
    <li><a href="/teaching/teachers" class="nav-link px-2 link-dark">Преподаватели</a></li>
    <li><a href="/teaching/teachers/update" class="nav-link px-2 link-dark">Обновление списка преподавателей</a></li>

</div>

</body>
</html>
