<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Обновление списка дисциплин</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
</head>
<body>
<header th:insert="blocks/header :: header"></header>

<div class="container mt-5 mb-5">
    <h1>Обновление списка дисциплин</h1><br>
    <form action="/teaching/disciplines/update" method="post">
        <input type="text" name="number" placeholder="Введите номер дисциплины" class="form-control"><br>
        <input type="text" name="code" placeholder="Введите код дисциплины" class="form-control"><br>
        <input type="text" name="abbreviation" placeholder="Введите аббревиатуру дисциплины" class="form-control"><br>
        <input type="text" name="name" placeholder="Введите название дисциплины" class="form-control"><br>
        <button type="submit" class="btn btn-success">Добавить</button>
    </form>
</div>

</body>
</html>